/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- ?
*/

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

html {
    min-height: 100%;
}
  
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1E1E1E;
    color: #F3F6FA;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

@media (max-width: 1250px) {
    #root {
        flex-direction: column;
        justify-content: flex-start;
    }
}

/* SIDE PANEL 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#panel-left {
    padding: 4rem;
    height: calc(100vh - 8rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(43, 43, 43);
    flex: 1 0; /*TODO: fix ratio?*/
}

#panel-left h1, #panel-left h2, #panel-left h3 {
    color: #F3F6FA;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: normal;
    text-align: left;
}

#panel-left h2 {
    color: #FEC036;
}

#panel-left h3 {
    font-size: 15px;
    text-transform: none;
}

@media (max-width: 1500px) {
    #panel-left h1, #panel-left h2{
        font-size: 1rem;
    }
}

@media (max-width: 1250px) {
    #panel-left {
        padding: 3rem 10rem;
    }
}

@media (max-width: 800px) {
    #panel-side {
        padding: 3rem 7rem;
        align-items: center;
    }
}

@media (max-width: 550px) {
    #panel-left {
        padding: 3rem 3rem;
    }
}

/* TEXTBOX
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.textbox:hover, .textbox .Select:hover {
    cursor: pointer;
}

.textbox {
    width: 100%; /*TODO: may not want this?*/
}

.textbox-component {
    width: 100%; /*TODO: may not want this?*/
    color: inherit;
    font-size: inherit;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #F3F6FA;
    background-color: #1E1E1E;
    border: 1px solid #1E1E1E;
    border-radius: 4px;
    box-sizing: border-box;
    /* TODO: need any of below?
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    */
}

/* DROPDOWN
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.dropdown:hover, .dropdown .Select:hover {
    cursor: pointer;
}

.dropdown {
    width: 100%; /*TODO: may not want this?*/
}

.dropdown-component {
    cursor: pointer;
}

.dropdown .Select-control, 
.dropdown .Select.is-focused .Select-control, 
.dropdown .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.dropdown .Select.has-value.Select--multi > .Select-control,
.dropdown .Select-menu-outer/*, 
.Select--single > .Select-control .Select-value, .Select-placeholder*/ {
    color: #F3F6FA;
    background-color: #1E1E1E;
    border: 1px solid #1E1E1E;
}

.dropdown .Select--multi > .Select-control .Select-value {
    color: #FEC036;
    background-color: #2B2B2B;
    border: 1px solid #363328;
}

.dropdown .Select--multi > .Select-control .Select-value-icon {
    color: #FEC036;
    background-color: #2B2B2B;
    border-right-color: #363329;
}

.dropdown .Select--multi > .Select-control {
    width: 100%;
    height: auto;
}

@media (max-width: 1500px) {
    .dropdown-component {
        font-size: 0.8rem !important;
    }
}

/*
.Select--multi .Select-value {
    background-color: #2B2B2B01;
    color: #2B2B2Bee;
    border: 1px solid #2B2B2B22;
}

.Select--multi .Select-value-icon {
    border-right: 1px solid #2B2B2B22;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border-radius: 4px;
    cursor: pointer;
}
*/

/* RADIO ITEMS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.radio-items label input {
    margin-right: 0.5rem;
    color: #FEC036;
    background-color: #FEC036;
}
.radio-items label {
    padding-bottom: 0.5rem;
}

/* BUTTON
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#panel-left button {
    font-size: 15px;
    color: #F3F6FA !important;
    background-color: #FEC036 !important;
    border-color: #FEC036 !important;
}

/* MAIN PANEL 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#panel-right {
    display: flex;
    flex-direction: column;
    flex: 3 0; /*TODO: fix ratio?*/
    /*padding: 1rem;*/
}

/*
@media (max-width: 550px) {
    #panel-right {
        padding: 3rem 1rem;
    }
}
*/

/* WORLD MAP 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#panel-right-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#world-map {
    height: 100%;
    width: 100%;
}

/* DATA TABLE 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#panel-right-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: scroll;
}